<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trafficMonitor.dao.ClientListDao" >
  <resultMap id="BaseResultMap" type="com.trafficMonitor.model.ClientList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cmac" property="cmac" jdbcType="VARCHAR" />
    <result column="show_pkgs" property="showPkgs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cmac, show_pkgs
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from client_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from client_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trafficMonitor.model.ClientList" >
    insert into client_list (id, cmac, show_pkgs
      )
    values (#{id,jdbcType=INTEGER}, #{cmac,jdbcType=VARCHAR}, #{showPkgs,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.trafficMonitor.model.ClientList" >
    insert into client_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cmac != null" >
        cmac,
      </if>
      <if test="showPkgs != null" >
        show_pkgs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cmac != null" >
        #{cmac,jdbcType=VARCHAR},
      </if>
      <if test="showPkgs != null" >
        #{showPkgs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trafficMonitor.model.ClientList" >
    update client_list
    <set >
      <if test="cmac != null" >
        cmac = #{cmac,jdbcType=VARCHAR},
      </if>
      <if test="showPkgs != null" >
        show_pkgs = #{showPkgs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trafficMonitor.model.ClientList" >
    update client_list
    set cmac = #{cmac,jdbcType=VARCHAR},
      show_pkgs = #{showPkgs,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>