<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trafficMonitor.dao.SystemUsersDao">
    <resultMap id="BaseResultMap" type="com.trafficMonitor.model.SystemUsers">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="mailbox" property="mailbox" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_access" property="userAccess" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, password, real_name, mailbox, user_phone, user_access
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from system_users
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByName" resultType="Integer" parameterType="String">
    select COUNT(*) from system_users where user_name = #{username}
  </select>
    <select id="selectByMail" resultType="Integer" parameterType="String">
    select COUNT(*) from system_users where mailbox = #{mailbox}
  </select>
    <select id="selectPasswordByName" resultType="String" parameterType="String">
        select password from system_users where user_name= #{username}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.trafficMonitor.model.SystemUsers">
    insert into system_users (id, user_name, password, 
      real_name, mailbox, user_phone, 
      user_access)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{mailbox,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userAccess,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.trafficMonitor.model.SystemUsers">
        insert into system_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="mailbox != null">
                mailbox,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userAccess != null">
                user_access,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="mailbox != null">
                #{mailbox,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userAccess != null">
                #{userAccess,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.trafficMonitor.model.SystemUsers">
        update system_users
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="mailbox != null">
                mailbox = #{mailbox,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userAccess != null">
                user_access = #{userAccess,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.trafficMonitor.model.SystemUsers">
    update system_users
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      mailbox = #{mailbox,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_access = #{userAccess,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>